//HEADER
$headerBtnColor: #f8a25a;
$iconsColor: rgb(104, 104, 104);

//FEATURES
$featuresTitleColor: rgb(253, 227, 201);
$featuresInfoColor: rgb(131, 131, 131);
$featuresSubtitleColor: rgb(26, 41, 47);