@font-face {
   font-family: 'GildaDisplay';
   src: url(../fonts/Gilda_Display/GildaDisplay-Regular.ttf);
}

@font-face {
   font-family: 'BodoniSvty';
   src: url(../fonts/BodoniSvtyTwoSCITCTTBook.ttf);
}

@font-face {
   font-family: 'OpenSans';
   src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}