$colorTitle: rgb(104, 104, 104);
$bgcolorBestRoom: rgb(239, 244, 248);
$selectColor: rgb(147, 147, 147);
$whiteColor: rgb(255, 255, 255);

//OUR ROOms
$linkbgColor: rgb(193, 155, 118);

//BEST ROOM
$titleColor: rgb(104, 104, 104);
$textColor: rgb(168, 168, 168);

//OUR SERVICES
$serviceTextColor: rgb(125, 125, 125);

//FIND
$findbgColor: rgb(14, 111, 179);
$findtitleColor: rgb(255, 255, 255);
$findtextColor: rgb(255, 255, 255);
$findlinkColor: rgb(104, 104, 104);
$findlinkbgColor: rgb(255, 255, 255);

//GUEST-SLIDER
$shadowColor: rgba(181, 203, 221, 0.43);

//FOOTER ICONS COLOR
$color-icons: #4267B2, #1DA1F2, #2867B2, #FF0000, #C13584;