//background-color
$bgcolor: linear-gradient(to bottom, #172945 30%, #355685 100%) no-repeat;
$bgcnt: #152235;

//color
$colorText: #fff;
$btncolor: #409697;

//font-size
$fz: 24px;

//font-family
$ff: arial;