// color: 
$colorTitle: rgb(76, 65, 134);
$colorText: #ccc;

//border-color

$borderColor: #999;
$borderActive: rgb(46, 84, 155);

//background-color
$LinearGradient: linear-gradient(to right, rgb(217, 76, 188), rgb(10, 147, 251));