@media screen and (max-width: 576px){
   .header-page{
      .burger-label{
         top: 30px;
         left: 20px;
      }
      .hamburger__menu{
         display: none;
      }
      .header{
         padding: 20px 0;
      }
      .header_title{
         padding: 0;
         font-size: 24px;
         &::first-letter{
            font-size: 35px;
         }
      }
      .header_search{
         display: none;
      }

      //BANNER

      .banner__hero-area{
         min-height: 720px;
         margin-bottom: 50px;
      }
      .hero-area_title{
         font-size: 36px;
         width: 320px;
         margin-top: 160px;
      }
      .hero-area_explore{
         padding-top: 80px;
         a{
            padding: 20px 50px;
            font-size: 16px;
         }
      }
      .availability__select{
         width: 200px;
         padding: 15px 40px;
         .text{
            font-size: 10px;
         }
         .number{
            font-size: 36px;
         }
         select{
            font-size: 14px;
         }
      }
      .availability__check{
         width: 140px;
         font-size: 18px;
         a{
            padding: 35px 25px 35px 10px;
         }
      }
   }
}