@media screen and (max-width: 576px){
   .video{
      .gradient{
         height: 300px;
      }
      &_title{
         font-size: 40px;
         width: 350px;
         left: 70px;
      }
      video{
         height: 300px;
      }
   }
}