@media screen and (min-width: 1170px){
   .header{
      background: linear-gradient(to right, rgba(17,37,55,.95) 48.8%, transparent 48.8%, transparent 50.5%);
      min-height: 100vh;
      position: relative;
      @include flexbox(null, center, center);
      .container{
         position: absolute;
         top: 0;
      }
      .bg-image{
         position: absolute;
         top: 92px;
         bottom: 60px;
         z-index: -1;
         @include flexbox(null, center);
         img{
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
         }
      }
      &-wrap{
         min-width: 1170px;
         min-height: 100vh;
      }
      &__logo{
         padding: 20px 0 200px 0;
         @include flexbox(null, center);
         .logo768{
            display: none;
         }
         .logodesktop{
            display: block;
         }
      }
      &__menu{
         .menu_btn{
            left: 0;
            bottom: 200px;
            width: 30px;
            overflow: hidden;
            padding: 12px 0;
         }
         .burger-stick{
            width: 30px;
            height: 2px;
            &::after, &::before{
               width: 30px;
               height: 2px;
            }
            &::after{
               top: 10px;
            }
            &::before{
               top: -10px;
            }
         }
         &-items{
            min-width: 1170px;
            margin-top: 105px;
            padding: 120px 0 70px 0;
            overflow: hidden;
            left: 0;
            right: 0;
            .menu{
               font-size: 20px;
               opacity: 0.5;
               li{
                  padding-bottom: 45px;
               }
            }
            .icons{
               display: none;
            }
         }
      }
      &__number{
         position: absolute;
         top: 32px;
         right: 95px;
         font-family: "MillerLight", sans-serif;
         font-size: 14px;
         display: block;
         &-phone{
            letter-spacing: 1.09px;
            color: #252525;
            .fas{
               color: inherit;
               padding-right: 8px;
               opacity: 0.5;  
            }
         }
      }
      &__title{
         min-height: 100%;
         position: absolute;
         top: 35px;
         left: 190px;
         @include flexbox(column, center);
         text-align: left;
         .title{
            width: 364px;
            font-size: 61px;
            padding-bottom: 25px;
         }
         .text{
            width: 323px;
            font-family: "MillerLight", sans-serif;
            font-size: 14px;
            line-height: 20.53px;
         }
      }
      &__btn{
         text-align: left;
         @include flexbox(column, center, flex-start);
         padding: 35px 0 0 0;
         .btn{
            font-size: 14px;
            padding: 20px 90px 20px 30px;
            position: relative;
            display: block;
         }
         &::after{
            display: block;
            position: absolute;
            transform: rotate(0);
            top: 54px;
            left: 205px;
         }
      }
      &__icons{ 
         display: block;
         position: absolute;
         bottom: 30px;
         .icons{
            @include flexbox(null);
            li{
               padding-right: 30px;
            }
            a{
               color: $iconsColor;
               font-size: 18px;
            }
         }
      }
   }
}