@media screen and (min-width: 960px){
   .video{
      padding-top: 100px;
      .video_item{
         width: 808px;
         height: 506px;
         position: absolute;
         top: 45px;
         left: 145px;
      }
   }
}