//background-color
$bgcolor: linear-gradient(to bottom, #172945 30%, #355685 100%) no-repeat;
$bgcnt: rgb(44, 48, 52);

//color
$colorText: #fff;

//fonts
$fz: 24px;
$ff: arial;

//border-colors
$borderColor: rgb(123, 162, 193);