$bgColorHeader: #24282e;
$colorHeaderInfoLink: #fefefe;
$colorNavMenu: #0f0101;
$colorHoverNavMenu: #ff6600;
$borderColorInput: #959595;
$colorOrange: rgb(255, 102, 0);

//ABOUT
$colorTitle: #555252;

//COURSE
$bgcolorCourse: #cccccc;
$colorTitleCourse: #444444;

//TEACHERS
$colorHov: rgba(255, 102, 0, 0.7);

//CAMPUS

$bgColorCampus: #f2f2f2;