//backgroundColor
$headerBgcolor: rgb(128, 255, 214);
$navbarBgcolor: rgb(255, 160, 122);
$image1Bgcolor: rgb(137, 205,252);
$image2Bgcolor: rgb(143, 238, 146);
$image3Bgcolor: rgb(119, 136, 154);
$articleBgcolor: rgb(33, 178, 171);
$calloutBgcolor: rgb(255, 254, 224);
$contentBgcolor: rgb(241, 129, 128);
$footerBgcolor: rgb(224, 254, 255);

//gridareasName
$nameheader: header;
$namenavbar: navbar;
$nameimage1: image1;
$nameimage2: image2;
$nameimage3: image3;
$namearticle: article;
$namecallout: callout;
$namecontent: content;
$namefooter: footer;