@import "_variables.scss";
@import "_reset.scss";

.container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, minmax(250px, auto));
	grid-gap: 20px;
	grid-template-areas: 
			'header header header navbar'
			'image1 image2 image3 navbar'
			'article article callout .'
			'content content content .'
			'footer footer footer .';

	.item{
		background-color: #ccc;

		@each $i, $bgcolor, $area in 
			(1, $headerBgcolor, $nameheader),
			(2, $navbarBgcolor, $namenavbar),
			(3, $image1Bgcolor, $nameimage1),
			(4, $image2Bgcolor, $nameimage2),
			(5, $image3Bgcolor, $nameimage3),
			(6, $articleBgcolor, $namearticle),
			(7, $calloutBgcolor, $namecallout),
			(8, $contentBgcolor, $namecontent),
			(9, $footerBgcolor, $namefooter) {
				&:nth-child(#{$i}) {
					background-color: $bgcolor;
					grid-area: $area;
				}

		}
	}
}
@media only screen and (max-device-width: 768px) {
	.container{
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: 
			'header header navbar'
			'image1 image2 navbar'
			'image3 article callout'
			'content content content'
			'footer footer footer';
	}
}
@media only screen and (max-device-width: 480px) {
	.container{
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 
			'header header'
			'image1 image2'
			'navbar image3'
			'article callout'
			'content content'
			'footer footer';
	}
}