//colors
$textcolor: #fff;
$bgcolor: rgb(60, 63, 80);
$bgheadercolor: linear-gradient(45deg, rgb(109, 83, 219), rgb(143, 124, 229));
$bgsidebarcolor: rgb(57, 211, 203);
$bgcontent: linear-gradient(45deg, rgb(108, 83, 226), rgb(63, 209, 222));
$bgfootercolor: linear-gradient(45deg, rgb(109, 83, 219), rgb(143, 124, 229));
