//background-colors
$cntcolor: rgb(221, 221, 221);
$formcolor: rgb(249, 249, 250);
$inputcolor: rgb(235, 230, 234);
$input-focuscolor: rgb(249, 247, 250);
$logincolor: rgb(255, 201, 95);
$titlecolor: rgb(129, 128, 136);
$btncolor: rgb(236, 235, 240);
$textcolor: rgb(153, 217, 234);
$border-focuscolor: rgb(138, 66, 69);