*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery {
  display: grid;
  counter-reset: list;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(100px, auto);
  grid-gap: 10px;
  padding: 10px;
}
.gallery__photo {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  max-height: 100%;
}
.gallery__photo::before {
  content: "#tag " counter(list);
  counter-increment: list;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background-color: #eee;
  padding: 3px 8px;
  border-radius: 5px;
}
.gallery__photo:nth-child(3) {
  max-height: 350px;
}
.gallery__photo:nth-child(6) {
  max-height: 150px;
}
.gallery__photo:nth-child(7) {
  max-height: 300px;
  margin-top: -50px;
}
.gallery__photo:nth-child(10) {
  margin-top: -250px;
}
.gallery__photo:nth-child(11) {
  margin-top: -150px;
}
.gallery__photo:nth-child(12) {
  max-height: 200px;
}
.gallery__photo img {
  max-width: 100%;
  border-radius: 5px;
  min-height: 400px;
}

@media only screen and (max-device-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery__photo:nth-child(6) {
    margin-top: -50px;
  }
  .gallery__photo:nth-child(7), .gallery__photo:nth-child(11) {
    margin-top: 0;
  }
  .gallery__photo:nth-child(9), .gallery__photo:nth-child(12) {
    margin-top: -300px;
  }
  .gallery__photo:nth-child(10) {
    margin-top: -100px;
  }
}
@media only screen and (max-device-width: 480px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery__photo:nth-child(5), .gallery__photo:nth-child(7) {
    margin-top: -50px;
  }
  .gallery__photo:nth-child(6), .gallery__photo:nth-child(9), .gallery__photo:nth-child(11) {
    margin-top: 0;
  }
  .gallery__photo:nth-child(8), .gallery__photo:nth-child(10), .gallery__photo:nth-child(12) {
    margin-top: -200px;
  }
}